<a href="https://colab.research.google.com/github/MarioAvolio/proj-data-an/blob/main/Sentiment_Analysis_on_Food_Reviews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
from google.colab import drive
import pandas as pd
import os
import matplotlib.pyplot as plt # plotting


drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

# Constants and Methods

In [17]:
PATH_PROJ = "/content/gdrive/MyDrive/data-proj/"
if not os.path.exists(PATH_PROJ):
  PATH_PROJ = "/content/gdrive/Shareddrives/data-proj/"

In [27]:
# Distribution graphs (histogram/bar graph) of column data
def plotPerColumnDistribution(df, nGraphShown, nGraphPerRow):
    nunique = df.nunique()
    df = df[[col for col in df if nunique[col] > 1 and nunique[col] < 50]] # For displaying purposes, pick columns that have between 1 and 50 unique values
    nRow, nCol = df.shape
    columnNames = list(df)
    nGraphRow = (nCol + nGraphPerRow - 1) / nGraphPerRow
    plt.figure(num = None, figsize = (6 * nGraphPerRow, 8 * nGraphRow), dpi = 80, facecolor = 'w', edgecolor = 'k')
    for i in range(min(nCol, nGraphShown)):
        plt.subplot(nGraphRow, nGraphPerRow, i + 1)
        columnDf = df.iloc[:, i]
        if (not np.issubdtype(type(columnDf.iloc[0]), np.number)):
            valueCounts = columnDf.value_counts()
            valueCounts.plot.bar()
        else:
            columnDf.hist()
        plt.ylabel('Number of sentences')
        plt.xticks(rotation = 90)
        plt.title(f'{columnNames[i]} (column {i})')
    plt.tight_layout(pad = 1.0, w_pad = 1.0, h_pad = 1.0)
    plt.show()

In [22]:
# Read TSV file into DataFrame
# df = pd.read_table(PATH_PROJ+'food.tsv', encoding='latin-1')
# print(df)

In [23]:
df = pd.read_csv(PATH_PROJ+'food.csv')

In [28]:
df

,productid,userid,score,text
0,B001E4KFG0,A3SGXH7AUHU8GW,5.0,I have bought several of the Vitality canned d...
1,B00813GRG4,A1D87F6ZCVE5NK,1.0,Product arrived labeled as Jumbo Salted Peanut...
2,B000LQOCH0,ABXLMWJIXXAIN,4.0,This is a confection that has been around a fe...
3,B000UA0QIQ,A395BORC6FGVXV,2.0,If you are looking for the secret ingredient i...
4,B006K2ZZ7K,A1UQRSCLF8GW1T,5.0,Great taffy at a great price. There was a wid...
...,...,...,...,...
35167,B000E1DSQS,A2QG0Z96HULRW7,5.0,"Once I tasted Hazelnut coffee, I was hooked! N..."
35168,B000E1DSQS,A3F653OGB0ZF4X,5.0,Has Maxwell House quit making this coffee? I ...
35169,B000E1DSQS,AJD41FBJD9010,5.0,"Nutty, smooth, subtle, with a WONDERFUL aroma-..."
35170,B000E1DSQS,A33R5P618X7MG7,5.0,Price was right and the taste very good. We w...
35171,B001ATMQK2,A3ECJIHDTDY3AM,5.0,This sauce gives you authentic tonkatsu flavor...

In [29]:
print(type(df))
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
(35172, 4)

In [30]:
print(df.columns)

Index(['productid', 'userid', 'score', 'text'], dtype='object')

In [31]:
nRow, nCol = df.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 35172 rows and 4 columns

In [32]:
df.head(6)

,productid,userid,score,text
0,B001E4KFG0,A3SGXH7AUHU8GW,5.0,I have bought several of the Vitality canned d...
1,B00813GRG4,A1D87F6ZCVE5NK,1.0,Product arrived labeled as Jumbo Salted Peanut...
2,B000LQOCH0,ABXLMWJIXXAIN,4.0,This is a confection that has been around a fe...
3,B000UA0QIQ,A395BORC6FGVXV,2.0,If you are looking for the secret ingredient i...
4,B006K2ZZ7K,A1UQRSCLF8GW1T,5.0,Great taffy at a great price. There was a wid...
5,B006K2ZZ7K,ADT0SRK1MGOEU,4.0,I got a wild hair for taffy and ordered this f...

Let's isolate the useful columns to our end.

In [33]:
df = df[["text","score"]]

In [35]:
df.iloc[30:40]

                                                 text  score
30  I have never been a huge coffee fan. However, ...    5.0
31  This offer is a great price and a great taste,...    5.0
32  McCann's Instant Oatmeal is great if you must ...    4.0
33  This is a good instant oatmeal from the best o...    4.0
34  Instant oatmeal can become soggy the minute th...    5.0
35  McCann's Instant Irish Oatmeal, Variety Pack o...    4.0
36  For those of us with celiac disease this produ...    5.0
37  What else do you need to know? Oatmeal, instan...    5.0
38  I WAS VISITING MY FRIEND NATE THE OTHER MORNIN...    4.0
39  I ordered this for my wife as it was reccomend...    5.0